
/* Color Palette */
$background: white;
$foreground: #495057;
$primary: #2fa4e7;
$secondary: #73a839;
$selection: rgba(73, 80, 87, 0.6);

@use 'base';

/* Override some of the default values of base.css. Thats why they come after the include */
%navbar {
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
    background-repeat: no-repeat;
}

%navbar-title,
%navbar svg {
    color: $background;
}

%navbar input,
%navbar input::placeholder,
%navbar-search svg {
    color: $foreground;
}

%navbar input::placeholder {
    opacity: .7;
}

%conversation-message-recieved {
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    background-repeat: no-repeat;
    color: $background;
}

%conversation-message-sent {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    color: $background;
}
