/* Color palette */
$background: #131516;
$foreground: #FFFFFF;
$primary: #006156;
$secondary: #003126;
$selection: #222425;
$border: #252525;

@use 'base';

%side-nav {
    border-right: 1px solid $border;
}

div {
	border-color: $border;
}
mat-divider {
	border-color: $border;
}

::-webkit-scrollbar {
    width: 0px;
}