/* Color palette */
$background: #131516;
$foreground: #e3e3e3;
$primary: #006156;
$secondary: #003126;
$selection: #222425;
$border: #252525;

@use 'base';

%side-nav {
    border-right: 1px solid $border;
}

div {
	border-color: $border;
}
mat-divider {
	border-color: $border;
}

::-webkit-scrollbar {
    width: 0px;
}

%side-nav-item-active svg {
    color: #30A99b;
}

gv-message-item [layout-align="start start"] [gv-test-id="bubble"], gv-message-item [layout-align="start end"] [gv-test-id="bubble"] {
    background-color: transparent;
    border-color: #505050;
}

div .caption {
	color: #82898e;
}
