@include 'base.css';

/* https://github.com/dracula/dracula-theme */
/* Color Palette */
html {
    --background: #282a36;
    --foreground: #f8f8f2;
    --sent-background: #6272a4;
    --recieved-background: #bd93f9;
    --selected: #44475a;
}

side-nav__ {
    border-right: 1px solid var(--foreground);
}