/** 
 * These mappings may seem ridiculous and non-sensesical, and they are... but they are for a reason
 * I tried to pick identifiers in google voice's cryptic ass css classes that are not likely to change
 * They roughly correlate to components on the page. See THEMES.md for more details on these components
 */


/* Navbar */
header {
    @extend %navbar;
}

header [title='Google Voice'] > span {
    @extend %navbar-title;
}

header form[role='search'] {
    @extend %navbar-search;
}

/* Side Nav */
gv-side-nav {
    @extend %side-nav;
}

gmat-nav-list .navListItem {
    @extend %side-nav-item;
}

gv-side-nav a.navListItem.gmat-list-item-active {
    @extend %side-nav-item-active;
}

[role='tablist']:not(.expanded) .navItemBadge {
    @extend %side-nav-item-badge;
}

/* Conversation */
gv-message-list,
gv-voicemail-player md-content,
gv-inbox-summary-ng2,
gv-thread-details,
gv-messaging-view md-content { // Message view when clicking someones name after search
    @extend %conversation;
}

gv-message-list-header > div {
    @extend %conversation-header;
}

gv-message-list-header [gv-test-id='conversation-title'],
gv-message-list-header [gv-test-id='conversation-subtitle'],
[aria-label='Group message'] {
    @extend %conversation-title;
}

gv-inbox-summary-ng2 .gv-inbox-summary .greeting,
gv-inbox-summary-ng2 .gv-inbox-summary .status {
    @extend %conversation-summary;
}

gv-message-entry > div {
    @extend %conversation-footer;
}

gv-message-item [layout-align='start start'] [gv-test-id='bubble'] {
    @extend %conversation-message-recieved;
}

gv-message-item [layout-align='start end'] [gv-test-id='bubble'] {
    @extend %conversation-message-sent;
}

[gv-test-id='sms-sender-time-stamp'] {
    @extend %conversation-timestamp;
}

gv-message-item gv-annotation a {
    @extend %conversation-link;
}

/** Lists */
gv-conversation-list, // messages list
#contact-list, // All contacts list on right
body > [role='listbox'] { // List box for the contact search
    @extend %list;
}

gv-thread-item > div,
[gv-test-id='send-new-message'], // send new message button
gv-recipient-picker md-content, // Recipient picker wrapper
gv-recipient-picker > div, // Select recipient picker on new call screen
gv-call-as-banner, // Call as banner on phone number right panel
gv-thread > div, // Item in the phone call list
gv-make-call-panel-ng2 > div > div:nth-child(2), // Call panel enter a name or number
gv-contact-item > div,
gv-contact-card,
gv-frequent-contact-card {
    @extend %list-item;
}

gv-thread-item > div.layout-row[aria-selected='true'] {
    @extend %list-item-active;
}

gv-thread-item div.layout-row gv-annotation[gv-test-id='item-contact'],
gv-contact-list .gmat-overline,
.gmat-subhead-2, // send new message text
gv-recipient-picker md-content, // recipient picker wrapper
gv-recipient-picker md-content md-input-container label, // recipient picker placeholder label
gv-call-as-banner .call-as-label, // Call as banner label
gv-call-as-banner .phone-number-details, // Call as banner phone number
gv-make-call-panel-ng2 > div > div,
gv-frequent-contact-card > button > div > div:first-child span, // frequent contact name
gv-contact-item  div gv-annotation, // All contacts heading on right
gv-contact-card .gmat-body-2 div:first-child div:nth-child(2), // Contact card name after clicking on someones name in the search bar
gv-recent-search-item gv-annotation,
gv-call-log-item .primaryText {
    @extend %list-item-heading;
}

gv-thread-item-detail :first-child,
gv-call-log-item .secondaryText,
gv-frequent-contact-card > button > div > div:nth-child(2) span, // frequent contact phone number
gv-contact-card .gmat-body-2 > div > div:nth-child(3), // Contact card phone number after clicking on someones name in the search bar
gv-contact-item > button > div > div:nth-child(2) { // Phone number under all contacts on right
    @extend %list-item-detail;
}

/* Dial pad */
gv-dialpad > div {
    @extend %dial-pad;
}

gv-dialpad [role='gridcell'] > div,
gv-dialpad [role='gridcell'] .gmat-caption {
    @extend %dial-pad-button;
}

gv-dialpad-toggle button {
    @extend %dial-pad-toggle;
}


