
/* Color Palette */

$background: #002b36;
$foreground: white;
$primary: #2aa198;
$secondary: #b58900 ;
$selection: #839496;


@use 'base';

/** Hacky border color fix for conversation list */
%conversation > div {
    border-color: $foreground;
}
